{% extends "base/base.html" %}

{%block content%}
    <table class="table table-border">
        <thead>
            <tr>
                <td>Gama</td>
                <td>Descripcion Texto</td>
                <td>Descripcion Html</td>
            </tr>
        </thead>
        <tbody>
            {%if object_list %}
                {% for gamaproducto in object_list %}
                    <tr>
                        <td>{{gamaproducto.gama}}</td>
                        <td>{{gamaproducto.descripcion_texto}}</td>
                        <td>{{gamaproducto.descripcion_html}}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'productos:productogama_editar' gamaproducto.gama%}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'productos:productogama_eliminar' gamaproducto.gama%}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            {%else %}
                <h1>No hay registro de gamas de productos</h1>
            {%endif %}
        </tbody>
    </table>

{% endblock content%}