{% extends "base/base.html" %}
{% block content%}
    <table class="table table-border">
        <thead>
            <tr>
                {%if perms.producto.is_uno %}
                    <th scope='col'> Codigo Producto</th>
                {% endif %}
                <th scope='col'> Nombre</th>
                <th scope='col'> Dimensiones</th>
                <th scope='col'> Proveedor</th>
                <th scope='col'> Descripcion</th>
                <th scope='col'> Cantidad Stock</th>
                <th scope='col'> Precio Venta</th>
                <th scope='col'> Precio Proveedor</th>
                <th scope='col'>Gama Producto</th>
            </tr>
        </thead>
        <tbody>
            {%if object_list %}
                {% for producto in object_list %}
                    <tr>
                        {%if perms.producto.is_uno %}
                            <th scope='row'>{{producto.codigo_producto}}</th>
                        {% endif %}
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.dimensiones}}</td>
                        <td>{{producto.proveedor}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.cantidad_stock}}</td>
                        <td>{{producto.precio_venta}}</td>
                        <td>{{producto.precio_proveedor}}</td>
                        <td>{{producto.gama_producto}}</td>
                        {%if perms.producto.is_uno %}
                            <td>
                                <a class="btn btn-primary" href="{% url 'productos:producto_editar' producto.codigo_producto %}">Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'productos:producto_eliminar' producto.codigo_producto%}">Eliminar</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {%else %}
                <h1>No hay registro de productos</h1>
            {%endif %}
        </tbody>
    </table>
    <ul class = "pager">
    {%if page_obj.has_previous %}
      <a class="btn btn-success" href="?page={{page_obj.previous_page_number}}">Previo</a>
    {%endif%}
    </ul>

    <ul class = "pager">
        {%if page_obj.has_next %}
        <a class="btn btn-success" href="?page={{page_obj.next_page_number}}">Siguiente</a>
        {%endif%}
    </ul>

{% endblock content%}